body {
    margin: 40px;
    padding: 0;
    background-color: white;
}
header {
    height: 250px;
    background-color: #48036F;
    margin: 0;
    padding: 0;
    margin-top: -40px;
}
header img {
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}
header h1 {
    font-size: 5em;
    margin-left: 250px;
    padding-top: 0;
    margin-top: -55px;
    text-align: left;
    color: silver;
}
header h2 {
    font-size: 2.8em;
    margin-left: 250px;
    padding-top: 30px;
    padding-bottom: 0;
    color: silver;
}
header h3 {
    font-size: 1.5em;
    margin-left: 250px;
    padding-top: 0px;
    margin-top: -30px;
    text-align: left;
    color: silver;
}
header nav {
    display: block;
    text-align: center;
}
header nav a {
    padding: 10px;
    border: 1px dotted #777;
    color: #333333;
    background-color: #B964D4 ;
    text-align: center;
}
header nav a:hover {
    background:#969;
    color:#000;
}
section {
    padding: 0;
    min-height: 150px;
    border: 1px solid #808080;
}
footer {
    display: table;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: -10px;
}
footer a, footer a:visited {
    color: #B964D4;
    text-decoration: none;
    padding: 10px;
    border: 1px dashed #000;
}
